{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

{plugins, [pc]}.
{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs, [{"priv/mozjs_nif.so", ["c_src/*.cpp"]}]}.

{deps, [
	{mochiweb,".*",{git,"https://github.com/mochi/mochiweb.git",{tag, "v3.1.2"}}}
]}.

{port_env, [
             {"ERL_LDFLAGS", " -L$ERL_EI_LIBDIR -lei"},
             {"DRV_CFLAGS", "$DRV_CFLAGS `pkg-config mozjs-102 --cflags`"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS `pkg-config mozjs-102 --libs`"}
            ]}.
