# This is a basic workflow to help you get started with Actions

name: Testing on Linux

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
         - '*'
  pull_request:
    branches:
         - '*'
env:
  DEB_DH_SHLIBDEPS_ARGS_ALL: "--dpkg-shlibdeps-params=--ignore-missing-info"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_all:
    strategy:
      matrix:
        os:
          - runs-on: ubuntu-22.04
          - runs-on: ubuntu-latest
    runs-on: ${{ matrix.os.runs-on }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a single command using the runners shell
      - name: build and run tests
        run: |
            sudo apt update
            sudo apt install -y libmozjs-102-dev erlang-mochiweb rebar3
            make
            make check
        shell: bash
